*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

body{
    background: #373738;
}

.wrap{
    width: 350px;
    height: 540px;
    margin: 65px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
}

#display{
    border: none;
    outline: none;
    width: 330px;
    height: 80px;
    color: #fbf3f3;
    font-size: 58px;
    font-weight: 700;
    padding: 10px;
    text-align: right;
    background: rgb(19, 33, 29);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.box{
    margin: 35px 15px;
}
.btn{
    margin: 8px;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    color: white;    
    font-size: 28px;
    cursor: pointer;
    line-height: 30px;
    border-radius: 50%;
    background: rgb(34, 30, 30);
}
.btn:hover{
    background: rgba(0, 0, 0, 1);
}
.cbtn, .cbtn:hover{
    background: black;
    color: rgb(212, 12, 12);
}

.mbtn, .mbtn:hover{
    background: black;
    color: rgb(8, 204, 31);
}
